﻿<log4net>
	<appender name="Main" type="log4net.Appender.FileAppender" >
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date|[%thread]|%level|%message%newline" />
		</layout>
		<file value="C:\\Server\\Logs\\main.log" />
		<appendToFile value="true" />
		<maxSizeRollBackups value="5" />
		<maxFileSize value="100MB" />
	</appender>
	<appender name="Game" type="log4net.Appender.FileAppender" >
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date|[%thread]|%level|%message%newline" />
		</layout>
		<file value="C:\\Server\\Logs\\game.log" />
		<appendToFile value="true" />
		<maxSizeRollBackups value="5" />
		<maxFileSize value="100MB" />
	</appender>
	<appender name="Health" type="log4net.Appender.FileAppender" >
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date|[%thread]|%level|%message%newline" />
		</layout>
		<file value="C:\\Server\\Logs\\health.log" />
		<appendToFile value="true" />
		<maxSizeRollBackups value="5" />
		<maxFileSize value="100MB" />
	</appender>
	<appender name="" type="log4net.Appender.FileAppender" >
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date|[%thread]|%level|%message%newline" />
		</layout>
		<file value="C:\\Server\\Logs\\discord.log" />
		<appendToFile value="true" />
		<maxSizeRollBackups value="5" />
		<maxFileSize value="100MB" />
	</appender>
	
	<!--Game Servers-->
	<appender name="enshrouded" type="log4net.Appender.FileAppender" >
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date|[%thread]|%level|%message%newline" />
		</layout>
		<file value="C:\\Server\\Logs\\enshrouded.log" />
		<appendToFile value="true" />
		<maxSizeRollBackups value="5" />
		<maxFileSize value="100MB" />
	</appender>
	<appender name="minecraft-bmc3" type="log4net.Appender.FileAppender" >
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date|[%thread]|%level|%message%newline" />
		</layout>
		<file value="C:\\Server\\Logs\\minecraft-bmc3.log" />
		<appendToFile value="true" />
		<maxSizeRollBackups value="5" />
		<maxFileSize value="100MB" />
	</appender>
	
	<root>
		<level value="INFO" />
		<appender-ref ref="Main" />
	</root>

	<logger name="GameServer.GameServer" additivity="false">
		<level value="INFO" />
		<appender-ref ref="Game" />
	</logger>
	
	<!--Health Controller-->
	<logger name="GameServer.Controllers.HealthController" additivity="false">
		<level value="INFO" />
		<appender-ref ref="Health" />
	</logger>
	
	<!--Discord bot-->
	<logger name="GameServer.Discord" additivity="false">
		<level value="INFO" />
		<appender-ref ref="Discord" />
	</logger>

	<!--GameProcessManager.X needs to match appsettings GameServer.Server names-->
	<logger name="GameProcessManager.enshrouded" additivity="false">
		<level value="INFO" />
		<appender-ref ref="enshrouded" />
	</logger>
	<logger name="GameProcessManager.minecraft-bmc3" additivity="false">
		<level value="INFO" />
		<appender-ref ref="minecraft-bmc3" />
	</logger>
</log4net>