<?xml version="1.0" encoding="UTF-8"?>
<log4net>
	<appender name="Main" type="log4net.Appender.RollingFileAppender" >
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date|[%thread]|%level|%message%newline" />
		</layout>
		<file value="C:\\Server\\Logs\\discord.log" />
		<appendToFile value="true" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="100MB" />
	</appender>

	<root>
		<level value="INFO" />
		<appender-ref ref="Main" />
	</root>
</log4net>